<section class="console-section">
    <section class="container">
        <div>
            <terminal terminal-class="vintage-terminal" terminal-config="vintage">
            </terminal>
        </div>
    </section>
</section>