<section class="console-section">
    <div class="logo">
        <img src="scripts/content/logo.png" height="100">
    </div>
    <section class="container">
        <div>
            <terminal terminal-class="vintage-terminal" terminal-config="vintage">
            </terminal>
        </div>
    </section>
</section>
<section class="instructions-section">
    <section class="container">
        <section class="instructions">
            <h3>Instructions</h3>
            <p>Phase I.</p>
            <p>There are 3 challenges. Correctly solving one problem will unlock the next and give you a passcode. You can use these in the second phase which will take place during UCSC IEEE day on Oct 7th.</p>
            <p>Phase II</p>
            <p>Phase II will take place during the UCSC IEEE day on Oct 7th at UCSC. You will be divided into groups. Your task will be to find the location of 5 QR codes hidden in the university premises. For your assistance there is an <a target="_blank" href="https://www.dropbox.com/s/ko3vl980ftmv046/IEEEDay.apk?dl=0">android app</a> which will guide you to the relavant locations. App will circle the location which the QR code will be located but it won't be too specific. You can use the passcodes obtained in the phase I to decrease the radius of the circle. App will show the location of one QR code at a time. Once you find it scan it from the app, then it will reveal the next location. The last QR code will bring you back to this website which will give you one final passcode. Quickest team to contact the organizers with this passcode will claim the price</p>
            <a target="_blank" href="https://www.dropbox.com/s/ko3vl980ftmv046/IEEEDay.apk?dl=0" >Download the android app</a> 
        </section>
    </section>
</section>